<html>
    <head>
        <title>My Todo Application</title>
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/css/styles.css" rel="stylesheet"/>
        <script>
            var token=document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content");
            function updateTodo(id) {
                fetch(`/todos/${id}/markAsCompleted`,{
                    method: "put",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "_csrf":token
                    })
                })
                .then((res) => {
                    if(res.ok){
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
            }
            function deleteTodo(id) {
                fetch(`/todos/${id}`, {
                    method: "delete",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "_csrf":token
                    })
                })
                .then((res)=> {
                    if(res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
                }
        </script>
    </head>
    <body>
        <div class="grid grid-flow-col-5">
            <div class="col-start-1 col-span-1">
                <%- include ('header.ejs') %>
                <form action="/todos" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-3 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="Enter the Task Name" class="border border-black-300 rounded text-black-900 w-full p-2 text-sm" required />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name="dueDate" class="border border-black-300 rounded text-black-900 w-full p-2 text-sm leading-4"/>
                        </div>
                        <div class="flex-none">
                            <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
                        </div>
                    </div>
                </form>  
                <div>
                    <%- include('todos.ejs',{title: "Overdue", data: overdue}) %>
                    <%- include('todos.ejs',{title: "Due Today", data: dueToday}) %>
                    <%- include('todos.ejs',{title: "Due Later", data: dueLater}) %>
                </div>
            </div>
        </div> 
    </body>
</html>