<html>
    <head>
        <title>My Todo Application</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
    <%- include ('header.ejs') %>        
    <%- include('todos.ejs') %>
    <%- include('footer.ejs') %>
    </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <title>My Todo Application</title>
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('todos.ejs') %>
    <%- include('footer.ejs') %>
</body>
</html> -->